@{
    ViewData["Title"] = "Assignment1";
}
@*<h1>@ViewData["Title"]</h1>*@
<div class="text-center">
    <h1 class="h1">The Team</h1>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://bit.ly/3vCvAXG" />
                </div>
                <div class="card-body">
                    <p class="card-text">Jiawei Cai</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://bit.ly/3eUuCiT" />
                </div>
                <div class="card-body">
                    <p class="card-text">Shardul Madan</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://bit.ly/3tp8mCR" />
                </div>
                <div class="card-body">
                    <p class="card-text">Yu Wang</p>
                </div>
            </div>
        </div>
    </div>
</div>