@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex h-100 text-center bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <img src="https://bit.ly/3hfFhaX" class="img-fluid" alt="...">
    </div>
</div>
